body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.book-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px;
}

.book-card {
    background: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

.recommend-section {
    text-align: center;
    margin-top: 50px;
}

table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #34495e;
    color: white;
}
